.container{

  margin: 4px;

}


.data-container{
  display: flex;
  flex-direction: column;
}


.task-description{
  justify-content: end;
}


.chip{
  padding: 8px 16px;
  background-color: white;
  border-radius: 20px;
  margin: 4px;
  cursor: pointer;
  background-color: purple;
  color: white;
  width: min-content;
}

